@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  color: #ffffff!important;
}
hr{
  border-color: #343a40;
}
.wrapper {
  display: flex;
  height: 100vh;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.1);
  color: powderblue;
}
@media (max-width: 767px) {
  nav {
    display: none;
  }
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
  margin: 2em;
}
nav a {
  background-color: rgba(255, 255, 255, 0);
  color: #24305e;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  margin-bottom: 1rem;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
  font-weight: 500;
}
.active {
  color: rgba(255, 255, 255, 1);
}

/*-----------------------------------------------------------------------------------------------------*/
/*mobile menu start*/
@media (max-width: 767px) {
  .topnav {
    overflow: hidden;
    background-color: #00acc1;
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 10;
  }
}
@media (min-width: 768px) {
  .topnav {
    display: none;
  }
}
.mob-menu-name {
  font-size: 1.5em !important;
  font-weight: 600;
}
.mob-menu-name:hover {
  background-color: transparent !important;
}

.topnav a {
  color: #fff;
  padding: 20px 5px;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  flex: 1;
}
.topnav a.icon {
  background: transparent;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5em;
  border-radius: 2%;
}
.topnav a:hover {
  background-color: #343a40;
  color: #fff;
}
.topnav #myLinks {
  display: none;
  padding-top: 2em;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.topnav #myLinks a {
  font-size: 1.4em;
}
@media (max-width: 767px) {
  .fixed-nav {
    padding-top: 75px !important;
    margin-top: -75px !important;
    display: block;
  }
}
@media (max-width: 767px) {
  .about-fixed-nav {
    padding-top: 75px !important;
    margin-top: 0px !important;
    display: block;
  }
}
.fa-bars {
  font-size: 2em;
}

/*mobile menu end*/
/*-----------------------------------------------------------------------*/

.container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  color: #444;
  overflow: auto;
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
}
@media (max-width: 500px) {
  .heading {
    font-size: 40px !important;
  }
}
.mtb {
  margin: 5em 0em;
}
.mb {
  margin-bottom: 8em;
}
.lh {
  line-height: 33px;
}

/*About section*/

.heading {
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
}

h1 {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

#about h1 span {
  color: #fff;
}
p {
  color: #303c6c;
  font-size: 1.3em;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: 6em;
  height: 5rem;
  border-radius: 2rem;
}
.social-icons a {
  margin: 0.5em;
  font-size: 1.5em;
  background-color: #343a40;
  border-radius: 50%;
  padding: 20px;
  position: relative;
}
.social-icons a:hover {
  background-color: #00acc1;
}
.social-icons i {
  color: #fff;
}

/* Experience section*/

.main-headings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.exp-head {
  color: #fff;
}
.sub-heading {
  color: #24305e;
  margin-bottom: -12px !important;
  justify-content: left;
  text-transform: uppercase;
}
.sub-text {
  color: #fff;
  text-transform: uppercase;
}

.duration {
  font-size: 1.3em;
  justify-content: end;
  margin-top: 20px;
  color: #fff;
}
.mt-40 {
  margin-top: 40px;
}

/*Education*/

.sec-school {
  flex: 2;
}

/*Skills section*/

#parent-work-flow {
  display: flex;
  flex-direction: row;
}
#parent-web-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 2;
}
.first-web-icon-text{
  flex: 1 150px;
}
.second-web-icon-text{
  flex: 1 150px;
}
.third-web-icon-text{
  flex: 1 150px;
}
.fourth-web-icon-text{
  flex: 1 150px;
}
.fifth-web-icon-text{
  flex: 1 300px;
}

.first-web-icon-text,
.second-web-icon-text,
.third-web-icon-text,
.fourth-web-icon-text,
.fifth-web-icon-text,
.sixth-web-icon-text,
.seventh-web-icon-text,
.eighth-web-icon-text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  
}
.first-web-icon-text i,
.second-web-icon-text i,
.third-web-icon-text i,
.fourth-web-icon-text i,
.fifth-web-icon-text i,
.sixth-web-icon-text i,
.seventh-web-icon-text i,
.eighth-web-icon-text i {
  font-size: 2.9rem;
}

.grey-color {
  color: #9099a2;
}

.skills-icons {
  margin: 1.1em 0em;
  font-size: 3em;
}
.skills-icons a:hover {
  opacity: 1;
}

/*---------------------------------------------------*/
#parent-web-icons i {
  transition: all 0.5s ease-out;
}
#parent-web-icons i:hover {
  transform: scale(1.5);
}
i.fas.fa-mobile-alt:hover {
  color: #868e96;
}

i.far.fa-window-restore:hover {
  color: skyblue;
}

i.fas.fa-palette:hover {
  color: palevioletred;
}
i.fa-html5:hover {
  color: orangered;
}
i.fa-css3:hover {
  color: #2962ff;
}
i.fa-bootstrap:hover {
  color: #614681;
}
i.fa-js-square:hover {
  color: #f8d06d;
}
.eighth-web-icon-text label {
  margin-bottom: 1rem;
}
i.fa-shopify {
  margin-bottom: 1rem;
}
i.fa-shopify:hover {
  color: #92b844;
}
.work {
  margin-right: 1em;
}
select {
  width: 8rem;
  padding: 0.6rem;
  border: 0.2rem #fff;
  font-size: 1rem;
}
select:focus{
  border: none!important;
}

/*Certificates Section*/

.certi {
  margin: 8px;
}
i.fa-trophy::before {
  color: #758bf5;
}
i.fa-medal::before {
  color: #758bf5;
}
i.fa-certificate::before {
  color: #758bf5;
}
#certificates p {
  font-size: 1.5em;
}
.certi-keyw {
  color: #fff;
}
